.error-404 {
  padding-bottom: 100px;
  overflow: hidden
}

@media only screen and (max-width: 768px) {
  .error-404 {
    padding-bottom: 0px
  }
}

.error-404__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 68vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.error-404__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 606px;
  flex: 0 0 606px;
  max-width: 606px;
  padding-top: 123px;
  position: relative
}

@media only screen and (max-width: 991px) {
  .error-404__left {
    padding-top: 100px
  }
}

@media only screen and (max-width: 768px) {
  .error-404__left {
    padding-top: 20px;
    padding-bottom: 40px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }
}

.error-404__bg {
  content: "";
  width: 672px;
  position: absolute;
  top: 133px;
  left: -73px
}

.error-404__bg img {
  max-width: 100%
}

@media only screen and (max-width: 1428px) {
  .error-404__bg {
    left: -10px;
    width: 600px
  }
}

@media only screen and (max-width: 991px) {
  .error-404__bg {
    top: 70px
  }
}

@media only screen and (max-width: 768px) {
  .error-404__bg {
    position: static;
    width: 100%
  }
  .error-404__bg img {
    width: 400px
  }
}

.error-404__title {
  font-family: m;
  font-weight: 700;
  color: #1B1A37;
  font-size: 46px;
  line-height: 59px
}

@media only screen and (max-width: 768px) {
  .error-404__title {
    font-size: 28px;
    line-height: 33px;
    margin-top: 20px
  }
  .error-404__title br {
    display: none
  }
}

.error-404__descr {
  font-size: 15px;
  line-height: 25px;
  color: #40454A;
  padding-left: 44px;
  position: relative;
  margin-bottom: 32px;
  margin-top: 16px;
  max-width: 500px
}

@media only screen and (max-width: 1428px) {
  .error-404__descr {
    padding-left: 70px
  }
}

@media only screen and (max-width: 768px) {
  .error-404__descr {
    padding-left: 0px
  }
}

.error-404__line {
  position: absolute;
  left: -49px;
  top: 4px
}

@media only screen and (max-width: 1428px) {
  .error-404__line {
    left: -10px
  }
}

@media only screen and (max-width: 768px) {
  .error-404__line {
    position: static;
    margin-bottom: 10px
  }
}

.error-404__right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 37px
}

@media only screen and (max-width: 991px) {
  .error-404__right {
    display: none
  }
}