.header {
  padding: 27px 0px;
  position: relative;
  background: #fff
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media only screen and (max-width: 991px) {
  .header__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
}

@media only screen and (max-width: 991px) {
  .header__logo {
    margin-right: 40px
  }
}

@media only screen and (max-width: 768px) {
  .header__logo img {
    width: 60px
  }
}

.header__hamburger {
  display: none
}

@media only screen and (max-width: 991px) {
  .header__hamburger {
    display: block
  }
}

.header__phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #0F0E23 !important;
  text-decoration: none !important
}

@media only screen and (max-width: 991px) {
  .header-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
    width: 100%;
    background: #fff;
    z-index: 20;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    display: none
  }
}

.header-menu__container {
  overflow: auto
}

.header-menu__list {
  margin: 0px;
  padding: 0px;
  list-style: none
}

.header-menu__list li {
  display: inline-block;
  padding: 0px 30px
}

@media only screen and (max-width: 1340px) {
  .header-menu__list li {
    padding: 0px 10px
  }
}

@media only screen and (max-width: 991px) {
  .header-menu__list li {
    display: block;
    padding: 0px;
    margin-bottom: 20px
  }
  .header-menu__list li:nth-last-child(1) {
    margin-bottom: 0px
  }
}

.header-menu__list a {
  font-size: 11px;
  line-height: 26px;
  color: #1A1A23;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: none !important;
  position: relative;
  display: inline-block
}

@media only screen and (max-width: 991px) {
  .header-menu__list a {
    font-size: 19px
  }
}

.header-menu__list a::before {
  content: "";
  height: 2px;
  background: #ED028C;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0px;
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

.header-menu__list a:hover {
  color: #ED028C
}

.header-menu__list a:hover::before {
  width: 13px;
  opacity: 1
}